.form {
    padding: 100px;
}

.form__fieldset {
    background-color: rgb(236, 233, 233);
    line-height: 1.8;
    border: none;
    box-shadow: 3px 3px 3px 2px rgb(144, 140, 140);
    border-radius: 5px;
    width: 700px;
}

.form__legend {
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(60, 55, 130);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.form__label {
    font-size: 20px;
    padding: 10px;
}

.form__label--select {
    font-size: 15px;
    border-radius: 8px;
    height: 35px;
    width: 250px;
    margin: 10px;
}

.form__label--input {
    font-size: 15px;
    width: 250px;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    height: 35px;
}

.form__paragraph {
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
}

.form__button {
    font-size: 25px;
    background-color:rgb(60, 55, 130);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    flex-grow: 1;
}

.form__buttonContainer {
    text-align: center;
    display: flex;
}

.form__inform {
    padding: 10px;
    font-size: 15px;
}

@media(max-width: 767px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 767px) {
    .form__label--select {
        display: flex;
        flex-grow: 1;
    }
}

@media(max-width: 767px) {
    .form__label--input {
        display: flex;
        flex-grow: 1;
    }
}
